.odd {
    background-color:#f5f5f5;
}
.even {
    background-color:lightgrey ;
}
/* css for gantt chart */

a {
    color: steelblue;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}
p.capitalize {
    text-transform: capitalize;
}
.body {
    width: 960px;
    margin: auto;
}

.topbar a {
    margin-right: .5em;
}

.content {
    position: relative;
    margin-left: 240px;
}

.content img {
    display: block;
    margin: auto;
}


.gallery {
    position: relative;
    left: -240px;
    width: 970px;
}

.content .gallery img {
    display: inline;
    width: 226px;
    height: 180px;
    border: solid 2px #ccc;
    margin-right: 10px;
    margin-bottom: 8px;
}

.content .gallery a:hover img {
    border-color: steelblue;
}

.list {
    clear: left;
    margin-top: 14px;
}

.list img {
    float: left;
}

h1 {
    font-size: 36px;
    font-weight: 300;
    margin-bottom: .3em;
}

.foot {
    font-weight: 300;
    margin-left: 240px;
    padding-top: 3em;
    width: 710px;
    clear: both;
}

button {
    background: #222 repeat-x;
    font: 12px Helvetica Neue;
    color: #fff;
    text-shadow: 0 -1px 1px #222;
    padding: 6px 10px 6px 10px;
    border: 0;
    border-bottom: 1px solid #222;
    min-width: 80px;
    -moz-border-radius: 5px;
    -moz-box-shadow: 0 1px 3px #999;
    -webkit-border-radius: 5px;
    -webkit-box-shadow: 0 1px 3px #999;
}

button:hover {
    background-color: #555;
}

.highlight {
    font: 12px monospace;
}

.highlight pre {
    overflow-x: auto;
}

/*css for gantt chart*/