<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">Store Locator   </h1>

    </div>
</div>

<div class="col-lg-6 col-sm-12" style="
    width: 700px;
">
    <div class="panel panel-default" >
        <div class="panel-heading">Locate Nearby store</div>
        <div class="panel-body">


            <form name="form" novalidate role="form" >




                <div class="form-group"  ng-class="{ 'has-error': userForm.name.$invalid && userForm.name.$dirty }" style="
    width: 424px;
    padding-left: 40px;
    padding-right: 40px;
" >
                    <!--<button class="button button-icon ion-person">Reports to</button>-->
                    <span class="glyphicon-asterisk" style="color: red"></span> Enter the ZipCode
                    <!--<div ng-repeat="cont in data.Res">
                        <input type="text" class="xdTextBox" ng-model="cont.Resource"/>


                    </div>-->
                    <div >



                        <input type="text" class="form-control" ng-model="store.Zip"  placeholder="Please provide zip code for serching nearest store" />


                    </div>


                    <button class="btn btn-primary" ng-click="locateStore()" style="
    margin-left: 50px;
    margin-top: 20px;
     margin-bottom: 10px;
      padding-left: 40px;
    padding-right: 40px;

">
                        <span class="glyphicon glyphicon-pencil"></span>  EnterZipCode
                    </button>

                    <div class="panel-body">
                        <div ng-controller="GetNearestStore">
                            <div ng-repeat="st in storenearby  |limitTo:1 " class="table-responsive " >
                                <table class="table table-striped table-hover">


                                    <tr>
                                        <th>Place you entered </th>
                                        <td > <div >  {{placeEntered}}</div></td>


                                    </tr>

                                    <tr>
                                        <th>Nearby Store </th>
                                        <td > <div >  {{st.name}}</div></td>


                                    </tr>

                                    <tr>
                                        <th>Store Location</th>
                                        <td > <div >  {{st.place}}</div></td>


                                    </tr>
                                    <tr>
                                        <th>Distance from Place you entered</th>
                                        <td > <div >  {{distance}} Kms</div></td>


                                    </tr>
                                </table>

                            </div>



                        </div>

                    </div>

                </div>


                <div id="tooltip" class="panel-body"></div>
                <!--</div>-->
            </form>

        </div>
    </div>
</div>




